#dashboard {
	color: rgba(0, 25, 53, 0.9);
	display: grid;
	grid-auto-flow: column;
	grid-gap: 1rem;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;
	align-items: start;
	grid-auto-columns: minmax(max-content, 1fr);
}

#dashboard section, #dashboard > div {
	display: grid;
	grid-gap: 0.75rem;
}
#dashboard section {
	border-radius: 0.25rem;
	grid-auto-rows: auto;
	align-content: start;
	padding: 1.5rem;
	background-color: rgba(255, 255, 255, 0.7);
}

date {
	font-size: 3em;
	font-weight: bold;
}

#calculator {
	display: grid;
	grid-gap: 0.25rem;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

#calculator input {
	grid-column: 1 / -1;
	margin-bottom: 0.25rem;
}
#calculator button {
	width: 100%;
}